.container {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.row {
  margin-left: 100px;
  margin-right: 100px;

}
.text-blocks {
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 1px;
  background-color: #D5D9D8;
  min-height: 300px;
  max-width: 210px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*.hidden {
  display: none;*/
.p-showing {
  display: none;
}
